html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
}

.carousel__container {
  margin: 0 auto;
  /* max-width: 800px; */
  /* max-height: 600px; */
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.carousel__img {
  width: 100vw;
  object-fit: cover;
}

.carousel__slide {
  display: flex;
  width: 100vw;
}

.btn__container {
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: 2px solid white;
  padding: 10px 20px;
  background-color: black;
  color: white;
}

.btn:hover {
  background-color: red;
}

#prevBtn {
  left: 5px;
}

#nextBtn {
  right: 5px;
}
