html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* aes */
  background-color: black;
}

.carousel__container {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  min-width: 160px;
  max-width: 2400px;
  max-height: 3848px;
  position: relative;
  overflow: hidden;
}

.carousel__img {
  width: 100vw;
  object-fit: cover;
}

.carousel__slide {
  display: flex;
  width: 100vw;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  /* aes */
  background: none;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
}

.btn:hover,
.btn:focus {
  /* aes */
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
.btn:active {
  /* aes */
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
}

#prevBtn {
  left: 5%;
}

#nextBtn {
  right: 5%;
}

@media (max-aspect-ratio: 3/5) {
  .carousel__img {
    height: 100vh;
  }
}
