html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* aes */
  background-color: black;
}

.carousel__container {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  min-width: 160px;
  max-width: 1920px;
  max-height: 2967px;
  position: relative;
  overflow: hidden;
}

.carousel__img {
  width: 100vw;
  object-fit: cover;
}

.carousel__slide {
  display: flex;
  width: 100vw;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* aes */
  cursor: pointer;
  border: 2px solid white;
  padding: 10px 20px;
  background-color: black;
  color: white;
}

.btn:hover {
  /* aes */
  background-color: red;
}

#prevBtn {
  left: 5%;
}

#nextBtn {
  right: 5%;
}

@media (max-aspect-ratio: 3/5) {
  .carousel__img {
    height: 100vh;
  }
}
